* {
    scrollbar-color: #fbcb04 #3f3f3f;
  }
  
p {
    text-align: justify;
}
  
.content{
    width: 50em;
}
.sidebar-drawer{
    min-width: 15em;
    width: calc(50% - 33em);
}
  
img {
    max-width: 100%;
    height: auto;
}
  
button.copybtn {
    opacity: 2;
    color: pink;
}