* {
    scrollbar-color: #fbcb04 #3f3f3f;
  }
  
p {
    text-align: justify;
}
  
.content{
    width: 50em;
}
.sidebar-drawer{
    min-width: 15em;
    width: calc(50% - 33em);
}
  
img {
    max-width: 100%;
    height: auto;
}
  
button.copybtn {
    opacity: 2;
    color: pink;
}

.count-cards {
  background-color: pink;
}

.sd-card {
  background-color: transparent;
  border-color: transparent;
}

.card-i{
  border: 1px solid #000;

}

.card-i:hover {
  border-color: #fbcb04;
}


:root {
    --icon--pied-piper: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M0 1.75C0 .784.784 0 1.75 0h12.5C15.216 0 16 .784 16 1.75v12.5A1.75 1.75 0 0 1 14.25 16H1.75A1.75 1.75 0 0 1 0 14.25Zm1.75-.25a.25.25 0 0 0-.25.25v12.5c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25V1.75a.25.25 0 0 0-.25-.25Zm7.47 3.97a.75.75 0 0 1 1.06 0l2 2a.75.75 0 0 1 0 1.06l-2 2a.749.749 0 0 1-1.275-.326.749.749 0 0 1 .215-.734L10.69 8 9.22 6.53a.75.75 0 0 1 0-1.06ZM6.78 6.53 5.31 8l1.47 1.47a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215l-2-2a.75.75 0 0 1 0-1.06l2-2a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042Z"/></svg>');
  }
  .admonition.pied-piper {
    border-color: rgb(155, 43, 138);
  }
  .admonition.pied-piper > .admonition-title {
    background-color: rgb(160, 123, 154);
    border-color: rgb(155, 43, 138);
  }
  .admonition.pied-piper > .admonition-title::before {
    background-color: rgb(155, 43, 138);
    -webkit-mask-image: var(--icon--pied-piper);
    mask-image: var(--icon--pied-piper);
  }